:root {
    --game-tile-height: 60px;
    --candidate-height: calc(var(--game-tile-height) / 3);
}

* {
    box-sizing: border-box;
}

.game-container {
    text-align: center;
}

.game-board {
    width: fit-content;
    display: inline-grid;
    grid-template-columns: var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height);
    grid-template-rows: var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height);;
    justify-content: center;
    gap: 1px;
    background-color: grey;
    border: 5px solid black;
}

.game-tile-container {
    position: relative;
}

.game-tile {
    width: var(--game-tile-height);
    height: var(--game-tile-height);
    background-color: white;
    line-height: var(--game-tile-height);
    font-weight: bolder;
    font-size: xx-large;
    position: relative;
}

.selected {
    background-color: yellow;
}

.prefilled {
    background-color: lightgrey;
}

.selected.prefilled {
    background-color: rgb(230, 197, 0);
}

.game-tile.conflicted::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: block;
}

.candidate-tile {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    pointer-events: none;
}

.candidate {
    opacity: 0;
    height: var(--candidate-height);
    width: var(--candidate-height);
    font-size: small;
    font-weight: 100;
    line-height: var(--candidate-height);
}

.selected~.candidate-tile .candidate:hover {
    opacity: 0.5;
}

/* classes repeated here to increase specificity */
.candidate.candidate.candidate.marked {
    opacity: 1;
}

.selected+.candidate-tile {
    display: grid;
    pointer-events: auto;
}

/* Player has entered guess, or tile is part of puzzle */
.guessed+.candidate-tile,
.prefilled~.candidate-tile {
    display: none;
}

.game-tile-button {
    width: var(--game-tile-height);
    height: var(--game-tile-height);
    position: absolute;
    top: 0;
    left: 0;
}

.selected~.game-tile-button {
    display: none;
}

.back-button {
    text-align: center;
    display: block;
    width: 60px;
    height: 30px;
}

.menu-container {
    text-align: center;
    margin-top: 20vh;
}

.menu-header {
    font-size: xxx-large;
}

.menu-subheading {
    margin-bottom: 20px;
    font-weight: bold;
}

.menu-button{
    display: block;
    margin: 0 auto 8px auto;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
}

.loading-screen {
    height: 90vh;
    line-height: 90vh;
    text-align: center;
}

/* hide screens when not rendering */
.menu-container,
.game-container,
.loading-screen {
    display: none;
}

.rendering {
    display: block;
}