:root {
    --game-tile-height: 60px;
    --candidate-height: calc(var(--game-tile-height) / 3);
}

* {
    box-sizing: border-box;
}

.game-container {
    text-align: center;
}

.game-board {
    width: fit-content;
    display: inline-grid;
    grid-template-columns: var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height);
    grid-template-rows: var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height);;
    justify-content: center;
    gap: 1px;
    background-color: grey;
    border: 5px solid black;
    margin-top: 20px;
}

.game-tile-container {
    position: relative;
}

.game-tile {
    width: var(--game-tile-height);
    height: var(--game-tile-height);
    background-color: white;
    line-height: var(--game-tile-height);
    font-weight: bolder;
    font-size: xx-large;
    position: relative;
}

.selected {
    background-color: yellow;
}

.prefilled {
    background-color: lightgrey;
}

.revealed {
    color: #2c64d5;
}

.selected.prefilled {
    background-color: rgb(230, 197, 0);
}

.game-tile.conflicted::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: block;
}

.candidate-tile {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    pointer-events: none;
}

.candidate {
    opacity: 0;
    height: var(--candidate-height);
    width: var(--candidate-height);
    font-size: small;
    font-weight: 100;
    line-height: var(--candidate-height);
}

.selected~.candidate-tile .candidate:hover {
    opacity: 0.5;
}

/* classes repeated here to increase specificity */
.candidate.candidate.candidate.marked {
    opacity: 1;
}

.selected+.candidate-tile {
    display: grid;
    pointer-events: auto;
}

/* Player has entered guess, or tile is part of puzzle */
.guessed+.candidate-tile,
.prefilled~.candidate-tile {
    display: none;
}

.game-tile-button {
    width: var(--game-tile-height);
    height: var(--game-tile-height);
    position: absolute;
    top: 0;
    left: 0;
}

.selected~.game-tile-button {
    display: none;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    font-size: 18px;
}

.toolbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toolbar-button {
    border: none;
    background: none;
    font-size: 25px;
    padding: 0 10px;
    height: 48px;
    line-height: 48px;
}

.toolbar-dropdown {
    position: relative;
}

.dropdown-button:hover {
    background-color: #f4f4f4;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -20px;
    top: 49px;
    width: 150px;
    z-index: 1;
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    border: 1px solid #bfbfbf;
    background-color: white;
    border-top: 0;
    height: 50px;
    line-height: 50px;
}

.dropdown-item:hover {
    background-color: #f4f4f4;
}

.dropdown-content.shown {
    display: block;
}

.display-difficulty,
.display-timer {
    margin: 0 16px;
}

.back-button {
    font-size: 16px;
}

.menu-container {
    text-align: center;
    margin-top: 20vh;
}

.menu-header {
    font-size: xxx-large;
}

.menu-subheading {
    margin-bottom: 20px;
    font-weight: bold;
}

.menu-button{
    display: block;
    margin: 0 auto 8px auto;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
}

.loading-screen {
    height: 90vh;
    line-height: 90vh;
    text-align: center;
}

.overlays {
    position: absolute;
    top: 0;
    left: 0;
}

.overlay-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.overlay-background {
    background-color: white;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.overlay-card {
    position: relative;
    min-width: 540px;
    padding: 48px;
    background-color: white;
    z-index: 9;
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.overlay-card-content {
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.settings-card-content {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: auto;
}

.hide-setting {
    display: none;
}

.overlay-message {
    margin-bottom: 30px;
}

.overlay-wrapper.shown {
    display: flex;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.gameover-overlay .overlay-card {
    padding: 24px;
}

.gameover-overlay .overlay-card .overlay-card-content {
    padding: 30px 0;
}

.star {
    font-size: 64px;
    color: orange;
    margin-bottom: 30px;
}

.overlay-header {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.continue-button {
    margin-bottom: 30px;
}

.button:hover {
    cursor: pointer;
}

/* hide screens when not rendering */
.menu-container,
.game-container,
.loading-screen {
    display: none;
}

.rendering {
    display: block;
}