:root {
    --game-tile-height: 60px;
}

* {
    box-sizing: border-box;
}

.game-container {
    text-align: center;
}

.game-board {
    width: fit-content;
    display: inline-grid;
    grid-template-columns: var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height);
    grid-template-rows: var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height) 3px var(--game-tile-height) var(--game-tile-height) var(--game-tile-height);;
    justify-content: center;
    gap: 1px;
    background-color: grey;
    border: 5px solid black;
}

.game-tile {
    width: var(--game-tile-height);
    height: var(--game-tile-height);
    background-color: white;
}